main.toc
ETF_transfer.pdf
main.out
main.pdf
temp.pdf
main.log
main.lof
main.lot
main.run.xml
main.blg
output.pdf
main.bbl
library.bib
*.bib
*.swp
*log
*aux 
0*.pdf 
*.toc
Acknowledgement_form.pdf
ETF_transfer.pdf
figures/R352Q/Flood.pdf
